*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Open Sans';
  color: #eee;
}

body{
  margin: 0;
}

h1 {
  font-family: 'Open Sans';
  font-size: 49px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  vertical-align: middle;
  margin: auto;
  background-color: #222831;
}

p {
  font-family: 'Open Sans';
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  color: white;
}

a {
  font-family: 'Open Sans';
  font-size: 18px;
  font-variant: normal;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.background {
  background-color: #222831;
  padding-bottom: 20px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  font-family: 'Open Sans';
  font-size: 18px;
  padding: 20px 20px 50px 20px;
}

.toggle-selection {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans';
}

.text {
  background-color: #eee;
  border: 1px solid #FFF;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 300;
  padding: 5px 40px 5px 40px;
  display: block;
  margin: 20px auto 20px auto;
  width: 60%;
}

.submit {
  color: white;
  border: 1px solid #FFF;
  font-size: 18px;
  text-transform: lowercase;
  font-family: 'Open Sans';
  font-weight: 300;
  letter-spacing: 2px;
  padding: 5px 40px 5px 80px;
  display: block;
  margin: auto;
  background-color: #222831;
}
.submit:hover {
  background: rgba(255,255,255, 0.3);
}
.submit:focus {
  background: rgba(255,255,255, 0.2);
}

.results {
  background-color: white;
}

.indiv-result {
  margin: 15px auto;
  padding: 5px 20px;
  display: flex;
  justify-content: flex-start;
}

.details {
  flex: 1;
  color: black;
  font-family: 'Open Sans';
  font-size: 16px;
  padding: 10px;
}

.md-button.md-fab {
  line-height: 4rem;
  min-width: 4rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #00ADB5;
  font-size: 25px;
}
