<div class="background">
  <form name="searchForm" ng-submit="search(searchQuery, searchType)">
      <div class="toggle-selection"> 
        <input type="radio" ng-model="searchType" value="show"> Show
        <span style="flex: 0.1"> </span>
        <input class="movie" type="radio" ng-model="searchType" value="movie"> Movie 
      </div>
      <div>
        <input class='text' type='text' name='search' ng-model="searchQuery">
        <input class="submit" type='submit' value='Show Me Where To Find It'>
      </div>
  </form>
</div>
<div class="results" >
  <div class="indiv-result" ng-repeat="result in results"> 
    <img ng-src="{{result.image}}" alt="image" height="{{height}}"/>
    <div class="details">
      <h2> {{result.title}} </h2>
      <p> {{result.overview}} </p>
      <h3 ng-show="{{results.sources}}"> Available at: {{result.sources}} </h3>
      <h3 ng-repeat="source in sources"> Available at: {{source}} </h3> 
    </div>
    <md-button class="md-fab" ng-click="store(result.id, type)" aria-label="save">
      <md-icon class="fa fa-heart-o"></icon>
    </md-button>
  </div>
</div>